# IDE cruft
.classpath
.project
/.settings
/CoalRe.iml
/.idea
/META-INF

# Misc cruft
.DS_Store
.ipynb_checkpoints

# Build/test files
/bin
/build
/build-lib
/build-beast
/build-test
/test-reports
/dist
/out

# Ignore generated BEAST files
*.state
*.log
*.trees
*.tree
*.nexus

# Ignore generated R files
.Rhistory
/validation/*.png